<div class="row mb-2">
    <div class="col-md-6" *ngFor="let blog of blogs">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{ blog.title }}</strong>
                <div class="mb-1 bold">Category: {{ blog.category }}</div>
                <div class="mb-1 text-body-secondary">{{ blog.created_at }}</div>
                <p class="mb-1 card-text">{{ blog.blog_text }}</p>
                <a (click)="redirectToBlog(blog.id)" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
            </div>
        </div>
    </div>
</div>
