.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bold-title {
    font-weight: bold;
}

.blog-text {
    font-size: 1.2rem; /* Adjust the size as needed */
}

.title-line {
    border: none;
    border-top: 2px solid black;
    width: 75%; /* Adjust the length as needed */
    margin: 15px auto; /* Adjust the margin as needed */
}

.like-dislike {
    display: flex;
    justify-content: center; /* Aligns items to the right */
    align-items: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.num-of-likes {
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.like-button, .dislike-button {
    padding: 8px 16px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Border styles */
    border-radius: 5px; /* Border radius for rounded corners */
    margin: 0 5px; /* Adjust margin as needed */
    cursor: pointer; /* Cursor style */
}

.like-button:hover, .dislike-button:hover {
    background-color: #f0f0f0; /* Background color on hover */
}

.liked {
    border-color: rgb(0, 0, 189); /* Change border color to blue for liked button */
}

.disliked {
    border-color: rgb(0, 0, 189); /* Change border color to blue for liked button */
}

.comments-title {
    display: flex;
    justify-content: center; /* Aligns items to the right */   
}

/* Styles for comments */
.comment {
    padding: 10px; /* Padding for comments */
    margin-bottom: 10px; /* Margin between comments */
}

/* Adjust comment title */
.comment strong {
    font-size: 1rem; /* Font size for comment username */
    margin-bottom: 3px; /* Margin below comment username */
}

/* Adjust comment text */
.comment .card-text {
    font-size: 0.9rem; /* Font size for comment text */
    margin-bottom: 0; /* Remove margin below comment text */
}

.blog-post .col {
    padding: 10px; /* Reduce padding to make it smaller */
}




